In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
df = pd.DataFrame(columns=[ "Roll Number", "Name", "Gender", "Marks"], data=[[1, 2, 3, 4],[1,2 ,3, 4 ],[1,2 ,3, 4 ],[1,2 ,3,4 ]])

In [7]:
df

   Roll Number  Name  Gender  Marks
0            1     2       3      4
1            1     2       3      4
2            1     2       3      4
3            1     2       3      4

In [8]:
df["Marks"].min()

4

4

   Roll Number  Name  Gender  Marks  avg
0            1     2       3      4  NaN
1            1     2       3      4  NaN
2            1     2       3      4  NaN
3            1     2       3      4  NaN